/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

/* CSS Reset */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  background: #f8fafc;
  color: #1e293b;
  min-height: 100vh;
  line-height: 1.6;
  overflow-x: hidden;
}

/* Images */

img {
  width: 100%;
  display: block;
}

/* Links */

a {
  text-decoration: none;
  color: inherit;
}

/* Lists */

ul,
ol {
  list-style: none;
}

/* Buttons */

button {
  border: none;
  outline: none;
  cursor: pointer;
  background: none;
  font-family: inherit;
}

/* Inputs */

input,
textarea,
select {
  font-family: inherit;
  outline: none;
}

/* Container */

.container {
  width: min(1200px, 90%);
  margin: auto;
}

/* Section */

section {
  padding: 80px 0;
}

/* Headings */

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
}

/* Selection */

::selection {
  background: #2563eb;
  color: white;
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f5f9;
}

::-webkit-scrollbar-thumb {
  background: #2563eb;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #1d4ed8;
}